html,
body {
  height: 100%;
}

body {
  
  overflow: hidden;
  padding: 0;
  background-color: #333;
  font-family: 'Quicksand', sans-serif;
  max-width: 600px;
  margin: 0 auto;
  color: #ddd;
  position: relative;
}

.fullscreen-background-image {

  background-image: url('http://37.media.tumblr.com/ecea2b8fe0eed173b713d9052be23312/tumblr_muuhp8fs9Q1st5lhmo1_1280.jpg');
  background-size: cover;
  background-position: center center;  
  opacity: .4;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;


}

.line {
  left: 30px;
  position: absolute;
  top: 0;
  transform: translate3d(0,0,0);
  width: 1px;
  height: 100%;
  background-color: #ddd;
}

.letters {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.notes {
  text-align: center; 
  padding: 0;
}

.note {
  display: inline-block;

}
